CAMPUSDESK_BACKUP_S3_URI=s3://REPLACE_WITH_BACKUP_BUCKET/staging/backup-sets
CAMPUSDESK_BACKUP_KMS_KEY_ID=arn:aws:kms:REGION:ACCOUNT_ID:key/REPLACE_WITH_KMS_KEY_ID
CAMPUSDESK_BACKUP_ALERT_TOPIC_ARN=arn:aws:sns:REGION:ACCOUNT_ID:REPLACE_WITH_ALERT_TOPIC
CAMPUSDESK_AWS_REGION=REPLACE_WITH_AWS_REGION
CAMPUSDESK_LOCAL_RETENTION_DAYS=14
